<ul>
    <li>
      <%= render :partial => "/shared/admin/search",
                  :locals => {
                    :url => admin_mailing_templates_url
                  } %>
    </li>
</ul>

<%= render '/admin/mailing/sidebar' %>